*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}
.main-width{
	width: 1400px;
	max-width: 95%;
	margin: 0 auto;
}
.hero{
	height: 100%;
	width: 100%;
	min-height: 100vh;
	background: radial-gradient(#000000,20%, #000000);
	position: relative;
}
.hero header .logo h2 a{
	display: black;
	font-size: 42px;
	font-weight: 600;
	text-decoration: none;
	color: #00FFFF;
}
.hero header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px 0 30px;
}
nav ul li {
	list-style: none;
	display: inline-block;
}
nav ul li a{
	text-decoration: none;
	color: white;
	margin-left: 60px;
	font-size: 18px;
	font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: .4s;
}
nav ul li:not(:last-child) a:hover,
nav ul li:not(:last-child) a:focus{
    border-bottom: 2px solid white;
}
nav ul li.btn a{
	background: transparent;
	color: white;
	border: 1px solid white;
	padding: 9px 20px;
	border-radius: 30px;
	line-height: 1.4;
	font-size: 17px;
	font-weight: 500;
	margin-left: 150px;
}
nav ul li.btn:hover a{
	border: 1px solid white;
	color: black;
	background: #00FFFF;
	transition: .4s;
}
.contact{
	background: #000000;
	height: 100%;
	width: 100%;
	min-height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, 2fr);
	align-items: center;
	grid-gap: 6rem;
}
.contact-img img{
	max-width: 100%;
	width: 850px;
	height: auto;
	border-radius: 10px;
}
.contact-form h1{
	font-size: 80px;
	color: #FF0000;
	margin-bottom: 20px;
}
span{
	color: #800080;
}
.contact-form p{
	color: #00FF00;
	letter-spacing: 1px;
	line-height: 26px;
	font-size: 1.1rem;
	margin-bottom: 3.8rem;
}
.contact-form form{
	position: relative;
}
.contact-form form input, form textarea{
	width: 100%;
	padding: 17px;
	border: none;
	outline: none;
	background: #191919;
	color: #fff;
	font-size: 1.1rem;
	margin-bottom: 0.7rem;
	border-radius: 10px;
}
.contact-form textarea{
	resize: none;
	height: 200px;
}
.contact-form form .btn{
	display: inline-block;
	background: #800080 ;
	font-size: 1.1rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 600;
	border: 2px solid transparent;
	border-radius: 10px;
	transition: ease .20s;
	cursor: pointer;
}
.contact-form form .btn:hover{
	background: #800080;
	border: 2px solid transparent;
	background: transparent;
	transform: scale(1.1);
}

@media (max-width: 1570px){
	section{
		padding: 80px;
		transition: .2s;
	}
	.contact-form h1{
		font-size: 60px;
	}
	.contact-form p{
		margin-bottom: 3rem;
	}
}
@media (max-width: 1090px){
	.contact{
		grid-gap: 2rem;
        transition: .3s;
	}
}
@media (max-width: 1000px){
	.contact{
		grid-template-columns: 1fr;
	}
	.contact-form{
		order: 2;
	}
	.contact-img img{
		max-width: 100%;
		width: 100%;
		height: auto;
		text-align: centre;
		margin-bottom: 30px;
	}
}